<h1>Our Cocktails</h1>
<br>

<%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @cocktails.each do |cocktail| %>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title"><%= cocktail.name %></h4>
              <p class="card-text"><%= cocktail.ingredients %></p>
              <%= link_to "See how to do it", cocktail_path(cocktail), class: "btn btn-primary"  %>
            </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
