.card {
  // height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: #F6F6F6;
  position: relative;
  min-height: 230px;
  margin-bottom: 20px;
  background-position: center;
  transition: all .2s ease;
  box-shadow: 1px 2px 1px #004A55;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 200px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.fa-eye {
  position: absolute;
  top: 19px;
  right: 19px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.fa-eye:hover {
  color: #F87D09;
  text-decoration: none;
}
.fa-trash-o {
  font-size: 20px;
  color: #004A55;
  text-decoration: none;
}
.fa-trash-o:hover {
  color: #F87D09;
  text-decoration: none;
}

.card a {
  color: white;
}

.card li {
  width: 250px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #004A55;
  font-family: "Avenir";
}

body {
  background-image: url("background_css.png");
}

.title {
  background-color: #A7CDCC;
  padding-top: 1px;
  padding-bottom: 12px;
}

h2{
  text-align: center;
  color: #004A55;
}

.photo_cocktail {
  margin-left: 90px;
}

li {
  list-style-type: none;
}

.ingredients {
  color: #A7CDCC
}
